@import url(http://fonts.googleapis.com/css?family=Slabo+27px);




/*  //corpo do site <---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> */
#corpo{
    width: 960px;
    height: auto;
    position: relative;
    background-color: #FFF;
    border-radius: 9px;
    margin: 0px auto;
    margin-top: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    z-index: 2;
}
#corpo h2{
    padding: 4px;
    padding-left: 12px;
    background-color: #133141;
    color: #9C9C9C;
    font-family: 'Slabo 27px', serif;
    margin: -11px -11px 11px -11px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}



