@import url(http://fonts.googleapis.com/css?family=Open+Sans|Carrois+Gothic);

body{
  z-index: 1;
  font-family: 'Slabo 27px', serif;
}
img{
max-width:none;
}
.map{
    height:200px;
    border:1px solid #999 !important;
    -webkit-box-shadow: 0 0 5px #999 !important;
    -moz-box-shadow: 0 0 5px #999 !important;
    box-shadow: 0 0 5px #999 !important; 
    display: none;
    margin-bottom: 15px;
}
.add-on{
    width: 70px !important;
    text-align: right !important;
}

i{margin-top: 2px !important;}
.form-cep{
    padding:0px;
    padding-top:20px;
    padding-bottom:10px;
    border:1px solid #999 !important;
    -webkit-box-shadow: 0 0 10px #888 !important;
    -moz-box-shadow: 0 0 10px #888 !important;
    box-shadow: 0 0 10px #888 !important;    
}
.invalid{
    border:1px solid red !important;
}
.invalid:focus{
    border:1px solid red !important;
    border-color: #e9322d !important;
    -webkit-box-shadow: 0 0 10px #f8b9b7 !important;
    -moz-box-shadow: 0 0 10px #f8b9b7 !important;
    box-shadow: 0 0 10px #f8b9b7 !important;
}
.shadow{
    height:205px;
    border:1px solid #888 !important;
    -webkit-box-shadow: 0 0 10px #888 !important;
    -moz-box-shadow: 0 0 10px #888 !important;
    box-shadow: 0 0 10px #888 !important;        
}

#corpo{
    width: 960px;
    height: auto;
    position: relative;
    background-color: #FFF;
    border-radius: 9px;
    margin: 0px auto;
    margin-top: 100px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    z-index: 2;
}
#corpo h2{
    padding: 4px;
    padding-left: 12px;
    background-color: #007069;
    color: #C3C3C3;
    font-family: 'Slabo 27px', serif;
    margin: -11px -11px 11px -11px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid gray;
}


  #corpo .btn {
  width: 350px;
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 10px 32% 0px;
  text-decoration: none;
}

#corpo .btn:hover {
  background: #133d41;
  background-image: -webkit-linear-gradient(top, #133d41,#133d41);
  background-image: -moz-linear-gradient(top, #133d41, #133d41);
  background-image: -ms-linear-gradient(top, #133d41, #133d41);
  background-image: -o-linear-gradient(top, #133d41, #133d41);
  background-image: linear-gradient(to bottom, #133d41, #133d41);
  text-decoration: none;
}

  #corpo .grafico-mapa{
    width: 300px;
    height: 300px;
  }

  html, body { width: 100%; height: 100%; background: #ECF3F3 }

form
{
  display: block;
  margin: 0px auto;
  width: 950px;
  overflow: hidden;
  background: #FFF;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
   font-size: 0;

}

form > div
{
  display: inline-block;
  width: 100%;
}

form > div > label
{
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}

form > div.col-2, form > div.col-3, form > div.col-4 { box-shadow: 1px 1px #E4E4E4;   }

form > div.col-2 { width: 50% }
form > div.col-3 { width: 33.3333333333% }
form > div.col-4 { width: 25% }

form > div > label > input
{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: 200;
  opacity: .66;
  transition: opacity .3s, box-shadow .3s;
}

form > div > label > select
{
  display: block;
  width: 100%;
  margin: 16px 0 7px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 200;
  opacity: .33;
}

form > div > label > input:focus, form > div > label > select:focus
{
  opacity: 1;

}

h5{
  width: 170px;
  height: 100px;
  font-size: 15px;
  float: right;
  margin-top: 47px;
  margin-right: 0px;
}

.checkbox{
  margin-top: 50px;
}

.termos{
  width: 195px;
  height: 50px;
}

.campo-obrigatorio{
  font-size: 10px;
  float:right;
}

a{
  font-size: 15px;
  width: 100px;
  margin: -10px 0px 0px 0px;
}