@import url(http://fonts.googleapis.com/css?family=Open+Sans|Carrois+Gothic);

body{
  z-index: 1;
  font-family: 'Slabo 27px', serif;
}
img{
max-width:none;
}
.map{
    height:200px;
    border:1px solid #999 !important;
    -webkit-box-shadow: 0 0 5px #999 !important;
    -moz-box-shadow: 0 0 5px #999 !important;
    box-shadow: 0 0 5px #999 !important; 
    display: none;
    margin-bottom: 15px;
}
.add-on{
    width: 70px !important;
    text-align: right !important;
}

i{margin-top: 2px !important;}
.form-cep{
    padding:0px;
    padding-top:20px;
    padding-bottom:10px;
    border:1px solid #999 !important;
    -webkit-box-shadow: 0 0 10px #888 !important;
    -moz-box-shadow: 0 0 10px #888 !important;
    box-shadow: 0 0 10px #888 !important;    
}
.invalid{
    border:1px solid red !important;
}
.invalid:focus{
    border:1px solid red !important;
    border-color: #e9322d !important;
    -webkit-box-shadow: 0 0 10px #f8b9b7 !important;
    -moz-box-shadow: 0 0 10px #f8b9b7 !important;
    box-shadow: 0 0 10px #f8b9b7 !important;
}
.shadow{
    height:205px;
    border:1px solid #888 !important;
    -webkit-box-shadow: 0 0 10px #888 !important;
    -moz-box-shadow: 0 0 10px #888 !important;
    box-shadow: 0 0 10px #888 !important;        
}

#corpo{
    width: 960px;
    height: auto;
    position: relative;
    background-color: #FFF;
    border-radius: 9px;
    margin: 0px auto;
    margin-top: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    z-index: 2;
}
#corpo h2{
    padding: 4px;
    padding-left: 12px;
    background-color: #133141;
    color: #9C9C9C;
    font-family: 'Slabo 27px', serif;
    margin: -11px -11px 11px -11px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}


#corpo #cad_table{
    margin: 0px auto;
  }

  #corpo #cad_table tr td{
      font-family: 'Slabo 27px', serif;
      padding-right: 50px; 
      padding-bottom: 15px;
  }

  #corpo .campo-obrigatorio{
    float: right;
    font-size: 10pt;
    margin-top: -7px;
  }

  #corpo .btn {
  width: 350px;
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#corpo .btn:hover {
  background: #133d41;
  background-image: -webkit-linear-gradient(top, #133d41,#133d41);
  background-image: -moz-linear-gradient(top, #133d41, #133d41);
  background-image: -ms-linear-gradient(top, #133d41, #133d41);
  background-image: -o-linear-gradient(top, #133d41, #133d41);
  background-image: linear-gradient(to bottom, #133d41, #133d41);
  text-decoration: none;
}

  #corpo .grafico-mapa{
    width: 300px;
    height: 300px;
  }