
#corpo #janelas .janela{
	width: 230px;
	background: #069;
	margin-right: 5px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

#corpo #janelas .janela .topo{
	width: 230px;
	background: #036;
	height: 25px;
	border-bottom: 1px solid #333;
	cursor: pointer;
}
.topo.fixar{position: absolute, bottom:0;}
.topo span{float: left; color: #fff; margin: 4px;}

.janela input[type=text]{
	padding: 3px;
	padding-bottom: 1px;
	border: 0;
	background: #f4f4f4;
	font-size: 13px;
	color: #333;
	width: 224px;	
}

.mensagens{
	float: left;
	width: 230px;
	background: #fff;
	height: 200px;
	border-bottom: 1px solid #333;
}

.mensagens  ul.listar{
	list-style-type: none;
	float: left;
	width: 230px;
	background:  #fff;
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;	
	margin: 0px;
	padding: 0px;
}

.mensagens ul.listar li{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #333;
	padding-bottom: 3px;
}

.mensagens ul.listar li span{
	font-size: 13px;
	color: #333;
	float: left;
	width: 100%;
	margin: 3px;	
}

.mensagens ul.listar li p{
	font-size: 13px;
	color: #333;
	float: left;
	width: 100%;
	margin: 0px 0px 0px 3px;	
}

.btn_mensagem{
	width: 230px;	
}

.livros{
	float: right;
	width: 54%;

}

.table_livros{
	width: 400px;
}

.table_livros tr td{
	padding-left: 80px;
}

.btn_finalizar{
	width: 300px;
	margin: 30px 0px 0px 230px;	
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

*{
  font-family:'Helvetica Neue',Helvetica, sans-serif;
  font-size:14px;
  margin:0;
}
a{
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}
.container{
  width:420px;
  display:block;
  margin:0 auto;
  box-shadow:0 2px 5px rgba(0,0,0,0.4);
  float: left;
}
.header{
  padding:20px 20px 18px 20px;
  background:#5FB471;
  color:#fff;
}
h2{
  font-size:16px;
  line-height:15px;
  display:inline-block;
  background-color: black;
}
.header a{
  display:inline-block;
  float:right;
  background:#3d8b4e;
  font-size:25px;
  line-height:20px;
  padding:3px 6px;
  margin-top:-5px;
  border-radius:2px;
}
.chat-box{
  width: 380px;
  height: 200px;
  overflow: auto;
  block: end;
}

.chat-box, .enter-message{
  background:#ECECEC;
  padding:0 20px;
  color:#a1a1a1;
}

.enter-message{
  background:#ECECEC;
  padding:0px 0px 0px 10px;
  color:#a1a1a1;
}
.chat-box .message-box{
  padding:18px 0 10px;
  clear:both;
}
.message-box .picture{
  float:left;
  width:50px;
  display:block;
  padding-right:10px;
}
.picture img{
  width:43px;
  height:48px;
  border-radius:5px;
}
.picture span{
  font-weight:bold;
  font-size:12px;
  clear:both;
  display:block;
  text-align:center;
  margin-top:3px;
}
.message{
  background:#fff;
  display:inline-block;
  padding:13px;
  width:274px;
  border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position:relative;
}
.message:before{
  content:"";
  position:absolute;
  display:block;
  left:0;
  border-right:6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
  top:10px;
  margin-left:-6px;
}
.message span{
  color:#555;
  font-weight:bold;
}
.message p{
  padding-top:5px;
}
.message-box.right-img .picture{
  float:right;
  padding:0;
  padding-left:10px;
}
.message-box.right-img .picture img{
  float:right;
}
.message-box.right-img .message:before{
  left:100%;
  margin-right:6px;
  margin-left:0;
  border-right:6px solid transparent;
  border-left:6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
}
.enter-message{
  padding:13px 0px;
  border-top:1px solid rgba(168,168,168, 0.2);
}
.enter-message input{
  border:none;
  padding:10px 12px;
  background:#d3d3d3;
  width:275px;
  height: 20px;
  border-radius:2px;
  margin-left: 10px;
}
.enter-message .send{
  padding:10px 15px;
  background:#6294c2;
  border-radius:2px;
  float:right;
  width: 80px;
  height: 40px;
  margin-right: 15px;
  margin-left: 0px;
}

.time{
margin-left: -6px;
width: 60px;

}
.time-right{
width: 60px;
}