
#corpo #janelas .janela{
	width: 230px;
	background: #069;
	margin-right: 5px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

#corpo #janelas .janela .topo{
	width: 230px;
	background: #036;
	height: 25px;
	border-bottom: 1px solid #333;
	cursor: pointer;
}
.topo.fixar{position: absolute, bottom:0;}
.topo span{float: left; color: #fff; margin: 4px;}

.janela input[type=text]{
	padding: 3px;
	padding-bottom: 1px;
	border: 0;
	background: #f4f4f4;
	font-size: 13px;
	color: #333;
	width: 224px;	
}

.mensagens{
	float: left;
	width: 230px;
	background: #fff;
	height: 200px;
	border-bottom: 1px solid #333;
}

.mensagens  ul.listar{
	list-style-type: none;
	float: left;
	width: 230px;
	background:  #fff;
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;	
	margin: 0px;
	padding: 0px;
}

.mensagens ul.listar li{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #333;
	padding-bottom: 3px;
}

.mensagens ul.listar li span{
	font-size: 13px;
	color: #333;
	float: left;
	width: 100%;
	margin: 3px;	
}

.mensagens ul.listar li p{
	font-size: 13px;
	color: #333;
	float: left;
	width: 100%;
	margin: 0px 0px 0px 3px;	
}

.btn_mensagem{
	width: 230px;	
}

.livros{
	float: right;
}

.table_livros{
	width: 700px;
}

.table_livros tr td{
	padding-left: 80px;
}

.btn_finalizar{
	width: 300px;
	margin: 30px 0px 0px 230px;	
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}