@import url(http://fonts.googleapis.com/css?family=Slabo+27px);


body{
  z-index: 1;
  font-family: 'Slabo 27px', serif;
}

#cssmenu #container{
  width: 960px;
  margin: 0px auto;
  padding: 0px;
  display: block;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0px auto;
  padding: 2px;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: 'Slabo 27px', serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu ul li{
  display: inline-block;
}
#cssmenu {
  border-bottom: 3px solid #036564;
  margin: -8px auto auto -8px;
  padding: 5px;
  z-index: 9998;
  width: 101%;
  background-color: #133141;
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu:after,
#cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  color: #999999;
}
#cssmenu ul li:hover a,
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #036564;
}
@media all and (max-width: 640px) {
  #cssmenu {
    padding: 0;
    border-radius: 0;
    border: 0;
  }
  #cssmenu ul li,
  #cssmenu.align-center,
  #cssmenu.align-right {
  }
  #cssmenu input{
    float: right;
    position: absolute;
  }
}
#cssmenu .right {
	float: right;
}
#cssmenu .logo{
	width: 50px; 
	margin-top: -20px; 
	margin-bottom: -20px; 
	border: 1px solid #036564;
}
#cssmenu .span{
  margin-top: 12px; 
  position: absolute; 
  margin-left: -2px; 
  color: #999999; 
  opacity: 0.4;
}