@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

body{
  z-index: 1;
  font-family: 'Slabo 27px', serif;
}

#corpo{
    width: 960px;
    height: auto;
    display: table;
    position: relative;
    min-height: 100%;
    background-color: #FFF;
    border-radius: 9px;
    margin: 30px auto 100px auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    z-index: 2;
    padding-bottom: 60px;
}
#corpo h2{
    padding: 4px;
    padding-left: 12px;
    background-color: #133141;
    color: #9C9C9C;
    font-family: 'Slabo 27px', serif;
    margin: -11px -11px 11px -11px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#corpo .MeusLivros{
	padding: 4px;
    padding-left: 12px;
    background-color: #133141;
    color: #9C9C9C;
    font-family: 'Slabo 27px', serif;
    margin: -11px -11px 11px -11px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

#corpo .MeusLivros-desejados{
	   padding: 4px;
    padding-left: 12px;
    background-color: #133141;
    color: #9C9C9C;
    font-family: 'Slabo 27px', serif;
    margin: -11px -11px 11px -11px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

#corpo .Solicitacoes{
	padding: 4px;
    padding-left: 12px;
    background-color: #133141;
    color: #9C9C9C;
    font-family: 'Slabo 27px', serif;
    margin: -7px -11px 11px -11px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}
#corpo .btn {
  width: 350px;
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#corpo .btn:hover {
  background: #133d41;
  background-image: -webkit-linear-gradient(top, #133d41,#133d41);
  background-image: -moz-linear-gradient(top, #133d41, #133d41);
  background-image: -ms-linear-gradient(top, #133d41, #133d41);
  background-image: -o-linear-gradient(top, #133d41, #133d41);
  background-image: linear-gradient(to bottom, #133d41, #133d41);
  text-decoration: none;
}

#corpo .btnPerfil {
  width: 200px;
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#corpo #lateral{
  float: left;
  width: 215px;
  height: auto;
  margin-left: 1px;
  border-right: 1px solid rgba(140, 140, 140, 0.4);
}

#corpo #centro{
  float: right;
  width: 733px;
  margin-left: 5x;
  z-index: 3;
}

#corpo #centro p.info-central{
    margin: 0px;
    padding-bottom: 5px;
    text-transform: uppercase; 
    font-size: 15pt; 
    font-family: 'Slabo 27px', serif;
    margin-top:0px;
    margin-bottom:0px;
}

#corpo #centro .fieldset-info-central{
	margin-top: 10px;
}

#corpo #lateral #quantidaderegistro{
  margin-top: 20px;
}
#corpo #lateral p.info-lateral{
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(140, 140, 140, 0.4);
    text-transform: uppercase; 
    font-size: 12pt; 
    font-family: 'Slabo 27px', serif;
    margin-top:0px;
    margin-bottom:0px;
}

#corpo #login_table .login{
  width: 340px;
  height: 30px;
}

.hidden>div {
    display:none;
}

.visible>div {
    display:block;
}

#corpo .uploadfoto{
  width: 330px;
  position: absolute;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  z-index: 9999;
}

#corpo #centro .centro-esquerda{
  float: right;
  margin: 0px;
  margin-top: 20px;
}

#corpo #centro .centro-esquerda a{
  text-decoration: none;
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  padding: 12px 10px 12px 10px;
  text-decoration: none;
}
#corpo .listar-livro{
    border: 2px solid black;
    width: 95%;
    margin: -10px 5px 15px 6px;
    height: 120px;
    font-family: 'Slabo 27px', serif;

}

#corpo .table-listar-livro{
  margin-top: -10px;
  width: 690px;
  margin-left: 2px;

}


#corpo .table-listar-livro td{
    background-color: white;
    width: 70px;
    text-decoration: none;
    text-align: center;

}

#corpo .listar-livro-exibicao {
  width: 700px;
  margin-bottom: 8px;
  margin-left: 6px;
  padding-right: 90px;
  border: 2px solid black;
}

#corpo .listar-livro-exibicao td{
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 0px;

}

#corpo #lateral .foto_usuario{
	margin-bottom: -15px; 
	margin-top: -16px; 
	border: 2px solid #133141;
}

#corpo #centro .nome_usuario{
	text-transform: uppercase; 
	font-size: 20pt; 
	margin-bottom:0px;
	margin-top: 0px;
}

#corpo #centro .cidade_uf_usuario{
	text-transform: uppercase; 
	font-size: 12pt; 
	margin-top:0px;
	margin-bottom:0px; 
	margin-top: 0px;
}

#corpo #centro .centro-esquerda-desejados{
  float: right;
      margin: 5px 0px 0px 0px;
}

#corpo #centro .centro-esquerda-desejados a{
  text-decoration: none;
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  padding: 12px 10px 12px 10px;
  text-decoration: none;
}

#corpo .listar-livro-desejados{
    border: 2px solid black;
    width: 95%;
    margin: -10px 5px 15px 6px;
    height: 52px;
    font-family: 'Slabo 27px', serif;

}

#corpo .table-listar-livro-desejados{
  margin-top: -10px;
  width: 690px;
  margin-left: 2px;

}


#corpo .table-listar-livro-desejados td{
    background-color: white;
    width: 70px;
    text-decoration: none;
    text-align: center;

}

#corpo .listar-livro-exibidos-desejados {
  width: 550px;
  margin-bottom: 8px;
  margin-left: 6px;
  padding-right: 90px;
  border: 2px solid black;
  border-right: 0px solid black;
}

#corpo .listar-livro-exibidos-desejados td{
    background-color: white;
    text-decoration: none;
    width: 30px;
    padding: 0px 0px 0px 40px;

}

#corpo .listar-livro-exibidos-desejados-ultimo td{
	padding-right: 100px;

}

#corpo .listar-livro-exibidos-desejados-preenche {
  width: 30px;
  margin-bottom: 8px;
  margin-right: 27px;
  margin-top: -36px;
  padding-right: 142px;
  border: 2px solid black;
  border-left: 0px solid black;
  float: right;
  height: 28px;
  position: relative;
}


#corpo .listar-solicitacoes{
    border: 2px solid black;
    width: 95%;
    margin: -10px 5px 15px 6px;
    height: 100px;
    font-family: 'Slabo 27px', serif;
    padding-bottom: 1px;

}

#corpo .table-listar-solicitacoes{
  width: 95%;
  margin-left: 2px;
  margin-top: -1px;

}


#corpo .table-listar-solicitacoes td{
    background-color: white;
    width: 10px;
    text-decoration: none;
    text-align: center;

}


#corpo .listar-solicitacoes td{
    background-color: white;
    text-decoration: none;
    width: 10px;
    padding: 0px;

}

#corpo .form_mensagens{
  float: right;
  margin-top: 0px;
}

#corpo .btnMensagens{
    width: 200px;
  background: #133141;
  background-image: -webkit-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -moz-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -ms-linear-gradient(top, #133141, #133141#2980b9);
  background-image: -o-linear-gradient(top, #133141, #133141#2980b9);
  background-image: linear-gradient(to bottom, #133141, #133141#2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;

}