@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

footer{
    position:absolute;
    background-color: #133141;
    margin: -40px auto auto -9px; 
    width: 100%;
    bottom: 0%;
    border-top: 3px solid #036564;
    padding: 10px;
    color: #9C9C9C;
    clear: both
}  
footer .bar{
    width: 960px;
    margin: 0px auto;
}
footer .bar2{
    width: 960px;
    margin: 0px auto;
}
footer .footer2{
    background-color: #133d41;
    margin: 10px auto -8px -9px; 
    width: 100%;
    padding: 10px;
}
